body {
    background: #FAF7F2;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 120px;
}

#name {
    font-size: 48px;
    font-weight: bold;
    color:#3B3029;
}

#info-btn {
    margin-top: 20px;
    padding: 10px 24px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
 }
#info-btn:hover {
    transform: scale(1.1);
}

